@media screen and (max-width: 1200px) {
    body{
        width: 100dvw;
        height: 100dvh;
        overflow-x: hidden;
        display: flex;
        flex-direction: column;
    }
    .header-mobiles{
        display: flex;
        flex-direction: column;
      }
    .header-mobile{
        width: 100dvw;
        height: 100px;
        display: flex;
        flex-direction: column;
        gap: 6px;
    }
    .header-style-color{
        width: 100dvw;
        height: 4.5px;
    }
    .header-style-color-blue{
        width: 100%;
        height: 50%;
        background: #2051c6;
    }

    .header-style-color-red{
        width: 100%;
        height: 50%;
        background: #e64e38;
    }
    .header-top{
        width: 100%;
        height: 35px;
        background-color: var(--color-opacity);
        display: flex;
        align-items: center;
        border-bottom: 1px solid #f1efeb;

    }
    .header-top-promotion{
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    .header-top-title{
        font-size: 0.9rem;
        font-weight: 300;
        margin-left: 5px;
        color: var(--color-black);
    }
    .header-top-option{
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex-direction: row;
        gap: 2px;
    }
    .container-header-top-option select{
        width: 81px;
        height: 30px;
        gap: 2px;
        font-size: 1.1rem;
        font-weight: 300;
        background-color: transparent;
        color: #585858;
        overflow: hidden;
        cursor: pointer;
        border-radius: 2px;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        -ms-border-radius: 2px;
        -o-border-radius: 2px;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }
    #currency{
        width: 60px;
        height: 30px;
    }
    /* ! END - HEADER TOP */
    .header-main{
        width: 100%;
        height: 35px;
        display: flex;
        flex-direction: row;
        
    }
    .header-main-logo{
        min-width: 130px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .header-main-logotipo{
        font-size: 1.8rem;
        font-weight: 500;
    }
    .header-main-blue{
        color: #2051c6;
    }
    .header-main-red{
        color: #e64e38;
    }
    .header-main-search{
        width: 81%;
        min-width: 260px;
        height: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 10px;
    }
    .header-main-input-btn{
        width: 85%;
        min-width: 200px;
        height: 30px;
        background: #5c5c5c25;
        color: #585858;
        border: 1px solid transparent;
        border-radius: 3px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        -ms-border-radius: 3px;
        -o-border-radius: 3px;
    }
    .header-main-input-btn-submit{
        min-width: 60px;
        height: 31.5px;
        background: #2051c6;
        color: #fff;
        margin-right: 10px;
        font-size: 1.2rem;
        font-weight: 400;
        border: 1px solid transparent;
        border-radius: 3px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        -ms-border-radius: 3px;
        -o-border-radius: 3px;
    }
    .header-main-input-btn-submit:hover{
        opacity: 0.8;
    }
    /* ! END HEADER MAIN  */
    .header-mobile-main-bottom{
        width: 100%;
        height: 50px;
        background-color: transparent;
        position: fixed;
        bottom: -1px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .container-header-button{
        min-width: 80%;
        height: 100%;
        border: 1px solid #f1efeb;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        background-color: var(--color-opacity);
        display: flex;
        flex-direction: row;
    }
    .header-bottom-menu{
        width: 20%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .fa-solid{
        font-size: 1.7rem;
        color: #000;
        transition: color 0.3s ease-in-out;
        -webkit-transition: color 0.3s ease-in-out;
        -moz-transition: color 0.3s ease-in-out;
        -ms-transition: color 0.3s ease-in-out;
        -o-transition: color 0.3s ease-in-out;
}
    .fa-solid:hover{
        color: #2051c6;
    }
    .count{
        width: 13px;
        height: 13px;
        color: #fff;
        background-color: #e64e38;
        border: 1 solid transparent;
        border-radius: 100%;
        margin-top: 5px;
        position:absolute;
        top: 1px    ;
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        -ms-border-radius: 100%;
        -o-border-radius: 100%;
}
    .count-p{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .header-mobile-menu-nav{
        display: none;
    }
    .header-mobile-menu-nav.open{
/*! */  /*position: absolute;*/  
        display: flex;
        width: 95%;
        height: 100dvh;
        background-color: #fcfcfc;
        left: -1px;
        box-shadow: 50px 50px 0px 50px #00000093;
    }
    .conteiner{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
    }
    .header-mobile-menu-nav-top{
        width: 100%;
        min-height: 100px;
        background-color: #F7F7F7;
        color: #2051c6;
    }
    .header-mobile-menu-nav-top-main{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
    }
    .header-mobile-menu-nav-top-acconut{
        width: 100%;
        min-height: 50%;
        display: flex;
        flex-direction: column;
        margin-top: 15px;
        margin-left: 10px;
    }
    .header-mobile-menu-conteiner-top-acconut{
        width: 100%;
        height: 60%;
        display: flex;
        flex-direction: row;
    }
    #fa-x{
        min-width: 25px;
        min-width: 20px;
        height: 25px;
        min-height: 20px;
        font-size: 1.4rem;
        margin-right: 20px;
        color: #1e65b6;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .header-menu-title{
        width: 100%;
        height: 26.7px;
        font-size: 1.6rem;
        font-weight: 500;
        display: flex;
        align-items: center;
    }
    .style-header-accont{
        width: 90%;
        height: 1px;
        background-color: #e6e6e6;
    }
    .header-mobile-menu-nav-booton-acconut{
        width: 100%;
        height: 100%;
        margin-left: 10px;
    }
    .header-mobile-menu-conteiner-botton-acconut{
        width: 90%;
        height: 100%;
        display: flex;
        justify-content: space-between;
    }
    .header-menu-button-title{
        font-size: 1.3rem;
        font-weight: 500;
        color: #2051c6;
    }
    .header-mobile-menu-nav-main{
        width: 100%;
        min-height: 650px;
        overflow-y: scroll;
    }
    .header-mobile-menu-conteiner-main-btn{
        width: 93%;
        min-height: 30px;
        overflow: hidden;
        margin: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .header-mobile-menu-conteiner-main-btn-login{
        width: 90%;
        height: 40px;
        background-color: #5faa5c;
        color: #fff;
        font-size: 1.3rem;
        font-weight: 500;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid transparent;
        border-radius: 2.5px;
        -webkit-border-radius: 2.5px;
        -moz-border-radius: 2.5px;
        -ms-border-radius: 2.5px;
        -o-border-radius: 2.5px;
    }
    .header-mobile-menu-conteiner-main-nav{
        width: 100%;
        height: 70%;
        display: flex;
        align-self: center;
        flex-direction: column;
        margin-top: 3.5%;
        margin-left: 2.5%;
    }
    .header-menu-titles{
        font-size: 1.5rem;
        font-weight: 600;
        color: #2051c6;
    }
    .header-mobile-menu-conteiner-main-nav-items{
        width: 90%;
        height: 100%;
        display: flex;
        flex-direction: column;
    }
    .header-menu-coluns-a{
        color: #000;
    }
    .header-menu-coluns{
        width: 100%;
        height: 40px;
        min-height: 30px;
        display: flex;
        align-items: center;
        flex-direction: row;
    }
    .header-menu-coluns i{
        width: 20px;
        height: 20px;
        font-size: 1.5rem;
        color: #1b6fcf;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .header-menu-titles-nav{
        font-size: 1.1rem;
        font-weight: 300;
        margin-left: 10px;
    }
    .header-menu-coluns-a-nav{
        width: 90%;
        min-height: 45px;
        color: #1b6fcf;
        font-size: 1.2rem;
        font-weight: 600;
        border: 1px solid #1e65b6;
        background-color: #f8f8f89c;
        margin-left: 5.7%;
        margin-top: 3.7%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 2px;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        -ms-border-radius: 2px;
        -o-border-radius: 2px;
    }
    .header-mobile-menu-conteiner-main-nav-about{
        width: 100%;
        overflow-y: scroll;
        
    }
    .header-mobile-menu-conteiner-main-nav-aboot-item{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .header-mobile-menu-conteiner-main-nav-aboot-item a{
        width: 90%;
        min-height: 40px;
        color: #000;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid #58585859;
    }
    .header-mobile-menu-conteiner-main-nav-aboot-item a li p{
        font-size: 1.2rem;
        font-weight: 400;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #a-header-main-top{
        border-top: 1px solid #58585859;
    }
    /* ! END HEADER BOTTOM  */
}

