@media screen and (min-width: 1200px) {
  body{
    width: 100vw;
    height: 100vh;
  }
  .header-mobiles{
    display: none;
  }
  .header-layout{
    width: 100vw;
    height: 300px;
    min-height: 290px;
    background-color: #f1efeb;
    display: flex;
    flex-direction: column;
  }
  .header-layout-sub-top{
    width: 100%;
    height: 85px;
    min-height: 80px;
    font-size: 2.5rem;
  }
  .header-layout-sub-top-container-color{
    width: 100dvw;
    height: 15px;
    min-height: 12px;
    display: flex;
    flex-direction: column
  }
  .header-layout-sub-top-container-color-blue{
    width: 100%;
    height: 50%;
    background-color: #2051c6;
  }
  .header-layout-sub-top-container-color-red{
    width: 100%;
    height: 50%;
    background-color: #e64e38;
  }
  .header-layout-sub-top-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    border-bottom: 1px solid #7e7d7d46;
  }
  .header-layout-sub-top-promotion{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
  }
  .header-layout-sub-top-title{
    font-size: 2.5rem;
    font-weight: 400;
    color: #585858;
  }
  .header-layout-sub-top-language{
    min-width: 20%;
    height: 100%;
    display: flex;
    justify-content: flex-end;

  }
  .header-sub-top-options{
    min-width: 200px;
    height: 100%;
    font-size: 2.8rem;
    margin-right: 30px;
    color: #585858;
    border: 1px solid  transparent;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
 }
  .header-layout-sub-top-language-city{
    min-width: 60px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header-layout-sub-top-language-city a{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header-layout-sub-top-language-city-img{
    width: 60px;
    min-width: 50px;
    margin: 5px;
  }
  .header-layout-top{
    width: 100%;
    height: 125px;
    min-height: 120px;
    display: flex;
    justify-content: center;
    gap: 2%;
    margin-bottom: 5px;
  }
  .header-layout-top-logo{
    width: 400px;
    min-width: 350px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header-layout-top-logo-titles{
    font-size: 6rem;
    font-weight: 600;
  }
  .header-layout-top-color-blue{
    color: #2051c6;
  }
  .header-layout-top-color-red{
    color: #e64e38;
    font-weight: 400;
  }
  .header-layout-top-search{
    width: 40%;
    min-width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header-main-input-btn{
    width: 80%;
    height: 75%;
    font-size: 3rem;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
  }
  .header-main-input-submit{
    width: 15%;
    height: 75%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 3px solid #58585844;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}
  .fa-magnifying-glass{
    cursor: pointer;
    font-size: 2.9rem;
  }
  .fa-magnifying-glass:hover{
    color: #2051c6;
  }
  .header-layout-top-acconut{
    width: 20%;
    min-width: 17%;
    height: 100%;
  }
  .header-layout-top-acconut-container{
    min-width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
  .fa-user-conteiner{
    min-width: 300px;
    margin-right: 20px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .fa-user-text{
    font-size: 2.1rem;
    color: #2051c6;
  }
  .fa-user,.fa-cart-shopping{
    min-width: 100%;
    color: #2051c6;
    font-size: 5.5rem;
    cursor: pointer;
  }
  .fa-user:hover,.fa-cart-shopping:hover,.fa-user-text:hover{
    opacity: 0.6;
  }
  .fa-solid:hover{
    color: #2051c6;
  }
  .fa-user-font{
    min-width: 100%;
    font-size: 2.3rem;
  }
  .fa-user-link{
    display: flex;
    flex-direction: row;
  }
  .header-layout-bottom{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  .header-layout-bottom-menu{
    width: 100%;
    height: 100%;
    background-color: #2051c6;
  }
  .header-layout-bottom-menu-nav{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header-layout-bottom-menu-li{
    width: 5.6%;
    font-size: 2.5rem;
    color: #fff;
  }
  .header-layout-sub-bootom-container-color-red{
    width: 100%;
    height: 4px;
    min-height: 2px;
    background-color: #e64e38;
  }
}